* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #333;
  background-color: #eee;

  position: relative;
}

a {
  color: blue;
  text-decoration: inherit;
}

.page-h1 {
  font-size: 2em;
}

#nav-bar {
  display: flex;
  padding-left: 8%;
  padding-right: 8%;

  position: sticky;
  top: 0;
  z-index: 10;

  background-color: #1670ba;
}

#nav-bar__con {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 8vh;
}

#nav-bar__logo {
  display: flex;
  height: 80%;
}

#logo {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

ul.menu-items__list {
  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: end;
  column-gap: 32px;

  width: 400px;
}

li.menu-items__list-item > a {
  color: white;
}

main {
  width: 100vw;
  height: 100%;

  background-color: black;
}

/* HERO SECTION */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 92vh;

  position: relative;
  z-index: 1;

  background-color: white;
}

#hero-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;

  width: 100vw;
  height: 240px;
}

.name-banner__list {
  list-style-type: none;

  display: flex;
  flex-direction: row;

  transform: translateX(0);
  animation: slide-left 30s linear infinite;
  animation-delay: 4s;
}

.name-banner__item {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  width: 100vw;

  font-size: 5em;
}

/* ABOUT SECTION */
#about {
  width: 100vw;
  height: 100%;

  position: relative;
  z-index: 0;

  background-color: white;
}

#timeline {
  padding-left: 8%;
  padding-right: 8%;

  position: relative;
}

#timeline-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

#tl-progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4px;
  height: 100%;
  overflow: hidden;

  position: absolute;
  top: 0;

  background-color: #727272;
}

#tl-progress-bar__indicator {
  width: 6px;
  height: 44vh;
  border-radius: 4px;

  position: fixed;
  bottom: 50vh;

  background-color: #1670ba;
}

#tl-progress-bar__fade {
  height: 100px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background: linear-gradient(#ffffff, #ffffff00);
}

/* RESUME SECTION */
#resume {
  width: 100vw;
  height: 92vh;

  position: relative;
  z-index: 1;

  background-color: red;
}

/* PORTFOLIO SECTION */
#portfolio {
  width: 100vw;
  height: 100%;

  position: relative;
  z-index: 1;

  padding-top: 8%;
  padding-bottom: 8%;

  background-color: white;
}

#portfolio-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2vw;
  row-gap: 2vw;
  align-items: center;
  justify-content: center;

  width: 88vw;

  margin-left: auto;
  margin-right: auto;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  overflow: hidden;

  height: 400px;

  border-radius: 6px;

  background-color: red;
}

.portfolio-item__con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4%;

  width: 100%;
  height: 100%;

  border-radius: 6px 6px 0 0;

  padding: 4%;

  text-align: center;

  position: relative;

  background: linear-gradient(#ffffff80, #ffffff);

  transform: translateY(72%);
  transition: all 0.8s ease-in-out;
}

.portfolio-item:hover > .portfolio-item__con {
  transform: translateY(0);
}

.portfolio-item__title {
  position: absolute;
  top: 0;

  height: 30%;

  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.portfolio-item__content {
  position: absolute;
  top: 32%;

  padding-left: 12%;
  padding-right: 12%;
}

.portfolio-btn {
  margin-top: 4%;
}

/* CONTACT SECTION */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 40vh;

  position: relative;
  bottom: 0;
  z-index: 1;

  background-color: white;
}

#contact-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8%;

  height: 100%;
}

.contact-content {
  display: flex;
  flex-direction: row;
  column-gap: 20px;

  margin: 2% 0;
}

.contact-item__btn {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 52px;
  height: 52px;

  position: relative;
  overflow: hidden;

  border: 2px solid #1670ba;
  border-right: none;
  border-radius: 50px;

  background-color: white;

  transition: all 0.8s ease;

  cursor: pointer;
}

.contact-item__btn:hover {
  width: 160px;
}

.contact-item__btn-text {
  width: 108px;

  font-size: 1.2em;
}

.contact-item__btn-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  position: absolute;
  right: 0;

  border: 2px solid #1670ba;
  border-radius: 50px;

  padding: 4px;

  background-color: white;

  transition: all 0.8s ease;
}

.contact-item__btn:hover > .contact-item__btn-img {
  transform: rotate(360deg);
}

.contact-item__btn-img--inner {
  width: 80%;
  height: 80%;
}

/* ANIMATIONS */
@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
