* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #333;
  background-color: #eee;

  position: relative;
}

a {
  color: blue;
  text-decoration: inherit;
}

#nav-bar {
  display: flex;
  padding-left: 8%;
  padding-right: 8%;

  position: sticky;
  top: 0;
  z-index: 10;

  background-color: #1670ba;
}

#nav-bar__con {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 8vh;
}

#nav-bar__logo {
  display: flex;
  height: 80%;
}

#logo {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

ul.menu-items__list {
  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: end;
  column-gap: 32px;

  width: 400px;
}

li.menu-items__list-item > a {
  color: white;
}

main {
  width: 100vw;
  height: 100%;

  background-color: black;
}

.page-section {
  width: 100vw;
  height: 92vh;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
}

#hero-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-banner {
  display: flex;
  flex-direction: row;
}

#about {
  background-color: blue;
}

#resume {
  background-color: red;
}

#portfolio {
  background-color: green;
}

#contact {
  background-color: yellow;
}
